{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="relative min-h-screen bg-black text-white flex flex-col ">
    {% include "core/partial/nav.html" %}
    <!-- reset pw Card -->
    <div class="relative z-10 flex flex-1 items-center justify-center">
        <div class="bg-gray-800 mx-4 mb-4 md:min-w-5xl md:p-16 p-4 rounded-lg">
            <h1 class="text-4xl font-bold mb-8">Password Reset</h1>
            <form method="post" class="space-y-6">
                {% csrf_token %}
                <p>We will send you an email with instructions on how to reset your password.</p>
                {{ form.email|attr:"placeholder:Email"|add_class:"w-full border border-gray-600 rounded-md p-4 bg-gray-800 text-white" }}
                <button type="submit" class="w-full bg-red-600 py-3 rounded font-semibold hover:bg-red-700 transition">
                    Reset Password
                </button>
            </form>
        </div>
      </div>
</div>
{% endblock content %}