{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}New Password{% endblock title %}

{% block content %}
<div class="relative min-h-screen bg-black text-white flex flex-col">
  <a href="{% url "home" %}"><img src="{% static 'core/logo.png' %}" alt="logo" class="w-36 sm:w-36 lg:w-48 py-8 pl-8"></a>
    <!-- change Password Card -->
    <div class="relative z-10 flex flex-1 items-center justify-center">
        <div class="bg-gray-800 mx-4 mb-4 md:min-w-5xl md:p-16 p-4 rounded-lg">
            <h1 class=" text-2xl md:text-4xl font-bold mb-8">Change Password</h1>

            <form method="post" class="space-y-6">
                {% csrf_token %}
                <p>Please enter your old password</p>
                {{ form.old_password|add_class:"w-full border border-gray-600 rounded-md p-4 bg-gray-800 text-white"|attr:"placeholder:Old Password" }}

                <p>Please enter your new password twice.</p>

                {{ form.new_password1|add_class:"w-full border border-gray-600 rounded-md p-4 bg-gray-800 text-white"|attr:"placeholder:New Password" }}
                {{ form.new_password2|add_class:"w-full border border-gray-600 rounded-md p-4 bg-gray-800 text-white"|attr:"placeholder:Confirm New Password" }}

                <!-- Display all errors at bottom -->
                {% if form.errors %}
                    <div class="text-red-500 mt-4">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <button type="submit" class="w-full bg-red-600 py-6 mt-4 rounded-md font-semibold hover:bg-red-700 transition">
                    Reset Password
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
