{% extends 'core/base.html' %}

{% block title %}Password Reset done{% endblock title %}

{% block content %}
<div class="relative min-h-screen bg-black text-white flex flex-col ">
    {% include "core/partial/nav.html" %}
    <!-- reset pw Card -->
    <div class="relative z-10 flex flex-1 items-center justify-center">
        <div class="bg-gray-800 mx-4 mb-4 md:min-w-5xl md:p-16 p-4 rounded-lg">
            <h1 class="md:text-4xl text-xl font-bold mb-8">Password Reset Link Sent</h1>
            <p class="p-6 bg-green-300 rounded-lg text-black font-semibold md:text-2xl text-md">An email has been sent with instructions to reset your password. Please check your inbox.</p>
        </div>
      </div>
</div>
{% endblock content %}