{% extends 'core/base.html' %}

{% block title %}Password Reset complete{% endblock title %}

{% block content %}
<div class="relative min-h-screen bg-black text-white flex flex-col ">
    {% include "core/partial/nav.html" %}
    <!-- reset pw Card -->
    <div class="relative z-10 flex flex-1 items-center justify-center">
        <div class="bg-gray-800 mx-4 mb-4 md:min-w-5xl md:p-16 p-4 rounded-lg">
            <h1 class="text-4xl font-bold mb-8">Password Reset Complete</h1>
            <p class="p-6 bg-green-200 mb-6 text-2xl font-semibold rounded-lg text-black">Your password has been successfully reset. You can now log in with your new password.</p>
            <a href="{% url 'login' %}"><button type="submit" class="w-full bg-red-600 py-6 rounded font-semibold hover:bg-red-700 transition">
                    Sign in here
                </button></a>
        </div>
      </div>
</div>
{% endblock content %}