{% load static %}
<!-- navbarstart -->
 <header>

<div class="relative mx-auto px-4 sm:px-6 lg:px-48 flex justify-between pt-6 items-center">
  <a href="{% url "index" %}"><img src="{% static 'core/logo.png' %}" alt="logo" class="w-36 sm:w-36 lg:w-48"></a>
  
  {% if show_signin %}
  <div class="flex gap-3 items-center">
    <select class="bg-black/25 text-white px-3 py-2 sm:px-4 sm:py-3 border border-gray-600 cursor-pointer focus:ring-1 rounded-md">
      <option value="en" class="bg-gray-800">English</option>
      <option value="de" class="bg-gray-800">Nepali</option>
    </select>
    <a href="{% url "login" %}"><button class="bg-red-600 hover:bg-red-700 text-white font-bold px-4 py-2 sm:px-6 sm:py-3 rounded-md">Sign in</button></a>
  </div>
  {% endif %}
  
</div>
</header>
<!-- navbarend -->
