{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ movie.title }}{% endblock title %}

{% block content %}
    {% include "core/partial/playernav.html" %}
    <div class="pt-16 mx-2">
        <h1 class="md:text-3xl text-xl font-bold md:m-6">{{ movie.title }}</h1>
        <iframe class="w-full h-[40vh] md:h-[65vh]"
            src="https://www.youtube.com/embed/{{ movie.video_id }}" 
            frameborder="4" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        <div class="w-full p-4 my-4 bg-gray-800 rounded-lg">
            <p class="italic"><strong>Released on: </strong>{{ movie.release_date }}</p>

            <p id="description" class="text-white text-sm md:text-md overflow-hidden" style="max-height: 4.5em;">
                {{ movie.description }}
            </p>

            <button id="toggle-desc" class="text-red-500 font-semibold mt-2">See more</button>
        </div>

    </div>


<div class="flex items-center justify-between m-6 gap-6">
    <h1 class="font-extrabold text-2xl sm:text-3xl md:text-4xl lg:text-5xl">For you</h1>

</div>
 <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 md:gap-6 m-6">
    {% for movie in movies %}
        <div class="bg-gray-900 rounded-md overflow-hidden shadow-lg hover:scale-105 transform transition duration-300">
            {% if movie.poster %}
                <a href="{% url 'player' movie.id %}" target="_self">
                    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="w-full h-48 sm:h-52 md:h-56 lg:h-60 xl:h-64 object-cover">
                </a>
            {% endif %}
            <div class="p-2">
                <h3 class="text-white font-bold text-sm md:text-lg">{{ movie.title }}</h3>
                <p class="text-gray-300 text-xs md:text-sm">{{ movie.release_date }}</p>

                {% if movie.video_url %}
                    <a href="{% url 'player' movie.id %}" target="_self">
                        <button class="bg-red-600 text-white px-4 py-1 mt-2 rounded w-full md:w-auto">Play</button>
                    </a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p class="text-white">No movies added yet.</p>
    {% endfor %}
</div>

<script>
    const desc = document.getElementById('description');
    const btn = document.getElementById('toggle-desc');

    btn.addEventListener('click', () => {
        if (desc.style.maxHeight === "none") {
            desc.style.maxHeight = "4.5em"; // collapsed height
            btn.textContent = "See more";
        } else {
            desc.style.maxHeight = "none"; // expand full
            btn.textContent = "See less";
        }
    });
</script>


{% endblock content %}
