{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Signup
{% endblock title %}

{% block content %}
    <div class="bg-white text-black min-h-screen flex flex-col">
        {% include "core/partial/nav.html" %}
        <hr class="my-4">
        <div class="relative z-10 flex flex-1 justify-center items-center mix-h-full max-w-[500px] md:mx-auto mx-6">
           <div class="text-left space-y-4 ">
            <p class="text-gray-500 mt-8">Step 1 of 3</p>

            <h1 class="font-bold text-5xl">Create a password to start your membership!<br>    </h1>
            <p class="text-lg">Just a few more steps and you're done!<br>We hate paperwork, too.</p>
           
            <form method="POST">
                {% csrf_token %}
                <label class="font-bold text-lg">Email: </label>
                <strong class="ml-8 text-lg">{{ email }}</strong><br>
                <label for="password" class="font-bold text-lg">Password:</label>
                <input type="password" name="password" placeholder="Password" class="border border-gray-400 p-4 w-full h-16 mt-4 rounded-lg">
                <p class="text-sm text-gray-500 mt-2">Use at least 8 characters. Avoid common passwords and numbers only.</p>
                <button type=submit class="w-full bg-red-500 h-16 text-white text-2xl font-bold mt-4 rounded-lg ">Sign up</button>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <p class="text-red-500 mt-2">{{ message }}</p>
                {% endfor %}
            {% endif %}
            </div>
    
        </div>

        <footer class=" bg-gray-200 py-24">
           <div class="flex justify-center underline pb-4">
            Any Questions?
           </div>
           <div class="flex items-center justify-center gap-24">
                      <ul class="space-y-2">
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Corporate Information</a></li>
                        <li><a href="#">Only on Netflix</a></li>
                    </ul>
                    <ul class="space-y-2">
                        <li><a href="#">Media Center</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
           </div>
        </footer>
    </div>
{% endblock content %}